{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock %} 

{% block content %}
<form action="" method="post">
    <div class="container">
        <div class="signup">
            <div class="card">
                <h2>Reset password</h2>
                {% csrf_token %}
                <label for="">New password</label>
                <input type="password" name="password" placeholder="New password" id="">
                <label for="">Confrim password</label>
                <input type="password" name="confirm_password" placeholder="Confrim password" id="">
                <input type="Submit" value="Reset" id="button" class="btn btn-success">
            </div>
        </div>
    </div>
</form>
{% endblock %}