{% extends 'base.html' %}
{% load static %}

{% block title %} 
Login 
{% endblock %}

{% block content %}
    <form action="" method="post">
        <div class="container">
            <div class="signup">
                <div class="card">
                    <h2>Sign Up</h2>
                    <label for="name">Username:</label>
                    <input type="text" id="name" name="name" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <input id="button" type="submit" value="Login"  class="btn btn-info">
                    <a href="">Forgot password!!</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %} 