{% extends 'base.html' %}
{% load static %}

{% block title %} 
Login 
{% endblock %}

{% block content %}
<form action="" method="post">
    <div class="container">
        <div class="signup">
            <div class="card">
                <h2>Sign Up</h2>
                {% if form.errors %} 
                    {% for key,error in form.errors.items %}
                        <p style="color: red;">{{error}}</p>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                {{form.username.label}}
                {{form.username}}
                {{form.email.label}}
                {{form.email}}
                {{form.password1.label}}
                {{form.password1}}
                {{form.password2.label}}
                {{form.password2}}
                <input type="Submit" value="Register" id="button" class="btn btn-success">
                <a href="{% url 'signin' %}">Already have an account? Login</a>
            </div>
        </div>
    </div>
</form>
{% endblock %} 